@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/*------------------------------inicio--------------------*/

.section-1-bg{
    background-image: url(gaby.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    
}

aside{
    position: absolute;
    top: 0%;
    right: 0%;
    display: flex;
    overflow: hidden;
}

.icon-menu img{
    width: 45px;
    height: 45px;
    margin-right: 15px;
    margin-top: 15px;
}

#barra-menu{
background-color: #ff8080;
height: 100vh;
width: 0px;
transition: 0.3s all;
}

#barra-menu ul li{
list-style: none;
padding: 15px;


}

#barra-menu ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 15px;
    width: 100%;
}

#barra-menu ul li a:hover{
    border: solid 1px #ffff;
    padding: 8px;
    border-radius: 15px;
    background: #fff;
}
.c-icons{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    overflow: hidden;


}
.c-icons span{
    color: rgb(255, 255, 255);

}

.c-icons span :hover{
    transition: 0.2s;
    transform: 0.5;
    color: #df80ff;
    
}

.main-title{
    display: flex;
    flex-direction: column;
    justify-content:  center;
    margin-left: 10%;
    flex-wrap: wrap;
}

.main-title h1{
    font-size: 70px;
    color: black;
    margin-top: 15px;
    font-family: "Poppins";
    font-weight: bold;
    letter-spacing: 2px;
}

.main-title h2{
    color: black;
    font-size: 50px;
    font-family: "Poppins";
    font-weight: bold;
    letter-spacing: 2px;
}

.main-title h5{
    color: black;
    font-size: 15px;
    font-family: "Poppins";
    letter-spacing: 2px;
    font-weight: 200;
}
.main-title button{
    width: 15%;
    margin-top: 80px;
    padding: 8px  5px;
    font-size: 20px;
    background-color: #ff8080;
    border-radius: 50px;
    color: #000000;
    font-family: "Poppins";
    cursor: pointer;
    border-color: #ff8080;
    transition-duration: .9s;

}

.main-title button:hover{
    border: solid 1px #fff;
    transition: 0.7s;
    background: transparent;

}

.numeros{
    display: flex;
    margin: 35px;
    color:rgb(0, 0, 0);
    gap: 40px;
    cursor: pointer;
    transition: 0.5s;
  
}

.title h3{
    font-size: 35px;
    margin-top: 15px;
    font-weight: bold;
}

.title p{
    font-weight: normal;

}

.title :hover{
    transition: 1.2s;
    transform: scale(1.1);
}

